@model QRSCS.Models.CaseHistoryModelDTO
@{
    ViewBag.Title = "OT";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link type="text/css" rel="stylesheet" href="~/Content/adminassets/css/style.css">
<style>


    fieldset {
        display: none;
    }

    #first {
        display: block;
    }

    input[type=submit], input[type=button] {
        width: 120px;
        margin: 15px 25px;
        padding: 5px;
        height: 40px;
        background-color: #2e69ff;
        border: none;
        border-radius: 4px;
        color: #fff;
        text-align: center;
    }

    .prevbut {
        background-color: #e5e7f2 !important;
        color: black !important;
    }

        .prevbut:hover {
            background-color: #b8b8b8 !important;
        }
</style>
<div class="container-fluid">
    <div class="db-breadcrumb">
        <h4 class="breadcrumb-title"></h4>
        <ul class="db-breadcrumb-list">
            <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
            <li>Occupational Therapy</li>
        </ul>
    </div>
    <div class="row">
        <!-- Your Profile Views Chart -->
        <div class="col-lg-12 m-b30">
            <div class="widget-box">
                <div class="widget-inner">
                    <div id="calendar">
                        <div role="main" class="form-all">
                            <style>


                                .form-all:before {
                                    background: none;
                                }
                            </style>
                            @*@@OCCUPATIONAL THERAPY@@*@
                            <fieldset id="first">
                                <ul class="form-section page-section">
                                    <li id="cid_43" class="form-input-wide" data-type="control_head">
                                        <div class="form-header-group  header-large">
                                            <div class="header-text httac htvam">
                                                <h1 id="header_43" class="form-header" data-component="header">
                                                    OCCUPATIONAL THERAPY
                                                </h1>
                                                <div id="subHeader_43" class="form-subHeader">
                                                    Assessment Of The Child With Cerebral Palsy
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li id="cid_65" class="form-input-wide" data-type="control_head">
                                        <div class="form-header-group  header-small">
                                            <div class="header-text httac htvam">
                                                <h3 id="header_65" class="form-header" data-component="header"></h3>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="form-line form-line-column form-col-3 jf-required" data-type="control_birthdate" id="id_39">
                                        <label class="form-label form-label-top" id="label_39" for="input_39">
                                            Date of Assessment
                                            <span class="form-required">
                                                *
                                            </span>
                                        </label>
                                        <div id="cid_74" class="form-input-wide jf-required" data-layout="full">
                                            @Html.EditorFor(x => x.CaseHistory.Date_of_Examination, new { htmlAttributes = new { @id = "d_ex", @class = "form-textbox validate[required]", @type = "date" } })
                                            @Html.ValidationMessageFor(x => x.CaseHistory.Date_of_Examination, null, new { style = "color:red" })
                                        </div>
                                    </li>
                                    <div style="display:flex; flex-flow: row wrap;">
                                        <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                            <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                Name
                                                <span class="form-required">
                                                    *
                                                </span>
                                            </label>
                                            <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                                @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                                @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                            </div>
                                        </li>
                                        <div style="display:flex; flex-flow: row wrap;">
                                            <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                                <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                    Age
                                                    <span class="form-required">
                                                        *
                                                    </span>
                                                </label>
                                                <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                                    @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                                    @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                                </div>
                                            </li>
                                        </div>
                                        <div style="display:flex; flex-flow: row wrap;">
                                            <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                                <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                    Diagnosis
                                                    <span class="form-required">
                                                        *
                                                    </span>
                                                </label>
                                                <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                                    @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                                    @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                            </li>
                                        </div>
                                        <div style="width: 100%;">
                                            <input id="next_btn1" onclick="next_step1()" type="button" value="Next" style="float: right; right: 0;">
                                        </div>
                                        </li>
                                </ul>
                            </fieldset>
                            @*@MEETING INFORMATION@*@
                            <fieldset id="second">
                                <div id="cid_25" class="form-input-wide jf-required" data-layout="full">
                                    <table summary="" aria-labelledby="label_25" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix" data-dynamic="true">
                                        <tr class="form-matrix-tr form-matrix-header-tr">
                                            <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_0">
                                                <label id="label_25_col_0"> </label>
                                            </th>
                                            <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1">
                                                <label id="label_25_col_1"> </label>
                                            </th>
                                            <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1">
                                                <label id="label_25_col_1"> Remarks</label>
                                            </th>
                                        </tr>
                                        <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_25 label_25_row_0">
                                            <td class="form-matrix-values">
                                                <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                    General Impression
                                                </label>
                                                <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                    General Impression
                                                </label>
                                                <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                    General Impression
                                                </label>
                                                <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                    General Impression
                                                </label>
                                                <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                    General Impression
                                                </label>
                                                @*<u>General Impression</u> </br>
        Alertness and Communication
        @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "TONE", type = "text", size = "10", })
        @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "REFLEXES", type = "text", size = "10", })
        @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "STARTLE", type = "text", size = "10", })
        @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "ATNR", type = "text", size = "10", })
        @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Gallant", type = "text", size = "10", })
        @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Landau", type = "text", size = "10", })
        @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Grasp", type = "text", size = "10", })
        @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Placing", type = "text", size = "10", })
        @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Parachute", type = "text", size = "10", })
        @Html.ValidationMessageFor(x => x.MedicalHistory.Measles_Age, null, new { style = "color:red" })*@
                                            </td>

                                            <td class="form-matrix-values">
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.ValidationMessageFor(x => x.MedicalHistory.Measles_Age, null, new { style = "color:red" })
                                            </td>


                                            <td class="form-matrix-values">
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.ValidationMessageFor(x => x.MedicalHistory.Measles_Age, null, new { style = "color:red" })
                                            </td>
                                    </table>

                                    <div style="display:flex; flex-flow: row wrap;">
                                        <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                            <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                Ding key for reflexes:Present= P, Absent= A
                                            </label>
                                            <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                Modified As worth Scale for Spasticity
                                            </label>
                                            <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                0. No increase in muscle tone
                                            </label>
                                            <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                1. Slight increase in muscle tone, manifested by a catch and release, or by Minimal resistance at the end of the range of motion when the affected part(s) is moved
                                                in flexion or extension
                                            </label>
                                        </li>
                                    </div>

                                    <div style="width: 100%;">
                                        <input id="pre_btn1" onclick="prev_step1()" type="button" value="Previous" class="prevbut">
                                        <input id="next_btn2" onclick="next_step2()" type="button" value="Next" style="float: right; right: 0;">
                                    </div>
                                    </li>
                                    </ul>
                            </fieldset>



                            @*@MEETING INFORMATION@*@
                            <fieldset id="third">
                                <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                    1. Slight increase in muscle tone, manifested by a catch, followed by minimal resistance throughout the remainder (less than half) of the ROM.
                                </label>
                                <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                    2. More marked increase in muscle
                                </label>
                                <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                    3. Considerable increase in muscle tone, passove movement difficult
                                </label>
                                <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                    4. Affected part  (s) rigid in flexion and extension
                                </label>
                                </li>

                                <div id="cid_25" class="form-input-wide jf-required" data-layout="full">
                                    <table summary="" aria-labelledby="label_25" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix" data-dynamic="true">
                                        <tr class="form-matrix-tr form-matrix-header-tr">
                                            <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_0">
                                                <label id="label_25_col_0">Age </label>
                                            </th>
                                            <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1">
                                                <label id="label_25_col_1">Development Milestones </label>
                                            </th>
                                            <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1">
                                                <label id="label_25_col_1"> Remarks</label>
                                            </th>
                                        </tr>
                                        <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_25 label_25_row_0">
                                            <td class="form-matrix-values">
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "3 months", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "6 months", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "7 months", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "6 to 7 months", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "8 to 10 months", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "10 to 11 months", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "9 months", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "10 to 11 months", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "12 months", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "13 months", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "12 months", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "15 to 18 months", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "13 months", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "15 to 18 months", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "2 to 3 years", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "3 to 4 years", type = "text", size = "10", })

                                                @Html.ValidationMessageFor(x => x.MedicalHistory.Measles_Age, null, new { style = "color:red" })
                                            </td>

                                            <td class="form-matrix-values">
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Head holding", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Sits with support", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Sits without support", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Transfer object from one hand to another", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Creeps", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Crawl", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Standing holding furniture", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Stands wothout support", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Walks holding furniture", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Walks without support", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Says one word with meaning", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Joints 2 to 3 words with meaning", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Feeds self with spoon", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Climb stairs", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Handles cup well & releases without spilling Matches colors (5 out of 6) Imitate cross(2 1/2 years", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "Dresses self fully", type = "text", size = "10", })

                                                @Html.ValidationMessageFor(x => x.MedicalHistory.Measles_Age, null, new { style = "color:red" })
                                            </td>

                                            <td class="form-matrix-values">
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })
                                                @Html.TextBoxFor(x => x.MedicalHistory.Measles_Age, null, new { id = "input_25_0_1", name = "q25_medicalHistory[0][1]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "2", placeholder = "", type = "text", size = "10", })

                                                @Html.ValidationMessageFor(x => x.MedicalHistory.Measles_Age, null, new { style = "color:red" })
                                            </td>
                                    </table>

                                    <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                        2. Cross motor Skills
                                    </label>
                                    <div style="display:flex; flex-flow: row wrap;">
                                        <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                            <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                a. Reach(Initial,Partial,Full)
                                            </label>
                                            <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                                @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                                @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                            </div>
                                        </li>
                                    </div>
                                    <div style="display:flex; flex-flow: row wrap;">
                                        <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                            <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                b. Prehension(Pinch,Grasp,Hook)
                                            </label>
                                            <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                                @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                                @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                            </div>
                                        </li>
                                    </div>

                                    <div style="display:flex; flex-flow: row wrap;">
                                        <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                            <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                c. Carry(Initial,Partial,Full)
                                            </label>
                                            <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                                @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                                @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                            </div>
                                        </li>
                                    </div>
                                    <div style="display:flex; flex-flow: row wrap;">
                                        <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                            <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                d. Release(Initial,Partial,Full)
                                            </label>
                                            <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                                @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                                @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                            </div>
                                        </li>
                                    </div>


                                    <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                        3. Fine motor Skills (Able,unable)
                                    </label>
                                    <div style="display:flex; flex-flow: row wrap;">
                                        <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                            <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                a. Isolated Finger movement
                                            </label>
                                            <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                                @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                                @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                            </div>
                                        </li>
                                    </div>
                                    <div style="display:flex; flex-flow: row wrap;">
                                        <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                            <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                b. Opposition
                                            </label>
                                            <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                                @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                                @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                            </div>
                                        </li>
                                    </div>

                                    <div style="display:flex; flex-flow: row wrap;">
                                        <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                            <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                c. Tip to tip
                                            </label>
                                            <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                                @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                                @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                            </div>
                                        </li>
                                    </div>
                                    <div style="display:flex; flex-flow: row wrap;">
                                        <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                            <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                d. Finger abduction
                                            </label>
                                            <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                                @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                                @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                            </div>
                                        </li>
                                    </div>

                                    <div style="display:flex; flex-flow: row wrap;">
                                        <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                            <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                4. Pre-writing Skills(Fist grasp,digital pronate,static tripod,digital tripod)

                                            </label>
                                            <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                                @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                                @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                            </div>
                                        </li>
                                    </div>

                                    <div style="display:flex; flex-flow: row wrap;">
                                        <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                            <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                5. Cognition

                                            </label>
                                            <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                                @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                                @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                            </div>
                                        </li>
                                    </div>

                                    <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                        a. Response to external environment
                                    </label>
                                    <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                        b. Perception(shape,color,size)
                                    </label>


                                    <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                        <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                            6a.
                                        </label>
                                        <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                            @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                            @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                        </div>
                                    </li>


                                    <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                        <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                            6b. Auditory
                                        </label>
                                        <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                            @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                            @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                        </div>
                                    </li>



                                    <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                        <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                            6c.Visual
                                        </label>
                                        <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                            @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                            @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                        </div>
                                    </li>

                                    <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                        <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                            6d. Taste and smell
                                        </label>
                                        <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                            @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                            @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                        </div>
                                    </li>

                                    <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                        Key intact/impaired/absent
                                    </label>

                                    <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                        7. Vestibular (Present/Absent)
                                    </label>

                                    <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                        8. Praxis / Motor Planning (Below age / Age appropiate)
                                    </label>

                                    <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                        9. Stereignosis(Present/Absent)
                                    </label>
                                    <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                        10. Communication
                                    </label>

                                    <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                        11. Behavior/ Play Skill
                                    </label>
                                    <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                        12. Sleep
                                    </label>
                                    <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                        13. Activities of Daily living (Independent/ Dependent)
                                    </label>

                                    <input id="pre_btn8" onclick="prev_step2()" type="button" value="Previous" class="prevbut">
                                    <input id="submit" @*onclick="btn_submitch()"*@ name="next" type="submit" value="Submit" style="float: right; right: 0;">


                            </fieldset>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

<script>
    // Next Button Script
    function next_step1() {
        document.getElementById("first").style.display = "none";
        document.getElementById("second").style.display = "block";
        document.getElementById("active2").style.color = "red";
    }

    function next_step2() {
        document.getElementById("second").style.display = "none";
        document.getElementById("third").style.display = "block";
        document.getElementById("active3").style.color = "red";
    }

    // Previous Button Script
    function prev_step1() {
        document.getElementById("first").style.display = "block";
        document.getElementById("second").style.display = "none";
        document.getElementById("active1").style.color = "red";
        document.getElementById("active2").style.color = "gray";
    }
    function prev_step2() {
        document.getElementById("third").style.display = "none";
        document.getElementById("second").style.display = "block";
        document.getElementById("active2").style.color = "red";
        document.getElementById("active3").style.color = "gray";
    }
</script>