@model QRSCS.Models.CaseHistoryModelDTO
@{
    ViewBag.Title = "PT Form";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Content/adminassets/css/style.css">

<style>
    fieldset {
        display: none;
    }

    #first {
        display: block;
    }

    input[type=submit], input[type=button] {
        width: 120px;
        margin: 15px 25px;
        padding: 5px;
        height: 40px;
        background-color: #2e69ff;
        border: none;
        border-radius: 4px;
        color: #fff;
        text-align: center;
    }

    .prevbut {
        background-color: #e5e7f2 !important;
        color: black !important;
    }

        .prevbut:hover {
            background-color: #b8b8b8 !important;
        }
</style>


<div class="container-fluid">
    <div class="db-breadcrumb">
        <h4 class="breadcrumb-title">Physio Therapy </h4>
        <ul class="db-breadcrumb-list">
            <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
            <li>Physio Therapy </li>
        </ul>
    </div>
    <div class="row">
        <!-- Your Profile Views Chart -->
        <div class="col-lg-12 m-b30">
            <div class="widget-box">
                <div class="widget-inner">
                    <div id="calendar">
                        <div role="main" class="form-all">
                            <style>
                                .form-all:before {
                                    background: none;
                                }
                            </style>
                            @*GENERAL INFORMATION*@
                            <fieldset id="first">
                                <ul class="form-section page-section">
                                    <li id="cid_43" class="form-input-wide" data-type="control_head">
                                        <div class="form-header-group  header-large">
                                            <div class="header-text httac htvam">
                                                <h1 id="header_43" class="form-header" data-component="header">
                                                    Physiotherapy Assessment Form
                                                </h1>
                                            </div>
                                        </div>
                                        <br>
                                        <label class="form-label form-label-top form-label-auto" id="label_3" for="input_3">
                                            Select one or multiple choices
                                        </label>
                                        <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_3" data-component="radio">
                                            <span class="form-radio-item">
                                                <span class="dragger-item">
                                                </span>
                                                @Html.RadioButtonFor(x => x.DevelopmentHistory.Labor, "Yes", new { @class = "form-radio validate[required]", type = "radio", id = "input_3_0", name = "q3_typeA", value = "Labor", required = "" })
                                                <label id="label_input_3_0" for="input_3_0"> C.P </label>
                                            </span>
                                            <span class="form-radio-item">
                                                <span class="dragger-item">
                                                </span>
                                                @Html.RadioButtonFor(x => x.DevelopmentHistory.Labor, "No", new { @class = "form-radio validate[required]", type = "radio", id = "input_3_1", name = "q3_typeA", value = "Normal", required = "" })
                                                <label id="label_input_3_1" for="input_3_1"> Down Syndrome </label>
                                            </span>
                                            <span class="form-radio-item">
                                                <span class="dragger-item">
                                                </span>
                                                @Html.RadioButtonFor(x => x.DevelopmentHistory.Labor, "No", new { @class = "form-radio validate[required]", type = "radio", id = "input_3_1", name = "q3_typeA", value = "Normal", required = "" })
                                                <label id="label_input_3_1" for="input_3_1"> Autistic </label>
                                            </span>
                                            <span class="form-radio-item">
                                                <span class="dragger-item">
                                                </span>
                                                @Html.RadioButtonFor(x => x.DevelopmentHistory.Labor, "No", new { @class = "form-radio validate[required]", type = "radio", id = "input_3_1", name = "q3_typeA", value = "Normal", required = "" })
                                                <label id="label_input_3_1" for="input_3_1"> Muscular Dystrophy </label>
                                            </span>
                                            <span class="form-radio-item">
                                                <span class="dragger-item">
                                                </span>
                                                @Html.RadioButtonFor(x => x.DevelopmentHistory.Labor, "No", new { @class = "form-radio validate[required]", type = "radio", id = "input_3_1", name = "q3_typeA", value = "Normal", required = "" })
                                                <label id="label_input_3_1" for="input_3_1"> Physical Disability </label>
                                            </span>
                                            <span class="form-radio-item">
                                                <span class="dragger-item">
                                                </span>

                                                <label id="label_input_3_1" for="input_3_1">Others </label>
                                                @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                                @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                        </div>
                                        </span>


                                        <div style="display:flex; flex-flow: row wrap;">
                                    <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                        <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                            Name
                                            <span class="form-required">
                                                *
                                            </span>
                                        </label>

                                        <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                            @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                            @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                        </div>


                                    <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                        <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                            Father Name
                                            <span class="form-required">
                                                *
                                            </span>
                                        </label>
                                        <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                            @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                            @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                        </div>


                                    <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                        <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                            Age
                                        </label>
                                        <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                            @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                            @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                        </div>

                                    <li class="form-line form-line-column form-col-13" data-type="control_dropdown" id="id_41">
                                        <label class="form-label form-label-top form-label-auto" id="label_41" for="input_41">
                                            Gender
                                        </label>
                                        <div id="cid_41" class="form-input-wide" data-layout="half">
                                            @Html.DropDownListFor(x => x.FamilyHistory.Father_Blood_Group, new List<SelectListItem>
                                               { new SelectListItem() { Text = "Please Select" ,Value=""},
                                                 new SelectListItem() { Text = "Male",Value="Male" },
                                                 new SelectListItem() { Text = "Female",Value="Female" },
                                            }, new { id = "input_41", name = "q41_typeA41", @Class = "form-dropdown validate[required]", style = "width:310px", datacomponent = "dropdown" })
                                            @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Blood_Group, null, new { style = "color:red" })
                                        </div>

                                    <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_28">
                                        <label class="form-label form-label-top form-label-auto" id="label_28" for="input_28">Contact # </label>
                                        <div id="cid_28" class="form-input-wide" data-layout="half">
                                            @Html.TextBoxFor(x => x.FamilyHistory.Mother_Name, null, new { id = "input_28", name = "q28_motherName", @Class = "form-textbox validate[Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                            @Html.ValidationMessageFor(x => x.FamilyHistory.Mother_Name, null, new { style = "color:red" })
                                        </div>

                                    <li class="form-line form-line-column form-col-3 jf-required" data-type="control_birthdate" id="id_39">
                                        <label class="form-label form-label-top" id="label_39" for="input_39">
                                            Date of Assessment
                                        </label>
                                        <div id="cid_74" class="form-input-wide jf-required" data-layout="full">
                                            @Html.EditorFor(x => x.CaseHistory.Date_of_Examination, new { htmlAttributes = new { @id = "d_ex", @class = "form-textbox validate[required]", @type = "date" } })
                                            @Html.ValidationMessageFor(x => x.CaseHistory.Date_of_Examination, null, new { style = "color:red" })
                                        </div>

                                    <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_28">
                                        <label class="form-label form-label-top form-label-auto" id="label_28" for="input_28">Address</label>
                                        <div id="cid_28" class="form-input-wide" data-layout="half">
                                            @Html.TextBoxFor(x => x.FamilyHistory.Mother_Name, null, new { id = "input_28", name = "q28_motherName", @Class = "form-textbox validate[Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                            @Html.ValidationMessageFor(x => x.FamilyHistory.Mother_Name, null, new { style = "color:red" })
                                        </div>

                                    <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                        <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                            Place Of Birth
                                        </label>
                                        <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                            @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                            @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                        </div>


                                    <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                        <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                            Siblings
                                        </label>
                                        <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                            @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                            @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <br />


                                        <h3 id="header_43" class="form-header" data-component="header">
                                            Birth History
                                        </h3>
                                         <li class="form-line jf-required" data-type="control_matrix" id="id_114">
                                             <label class="form-label form-label-top form-label-auto" id="label_114" for="input_114">
                                                 <p1>a) Attendant during the labor</p1> <br />
                                                 <p2>b) Doctor / Hospital Delivery</p2> <br />
                                                 <p3>c) None/Trained/Untrained/Midwife /Nurse </p3>

                                                 <br />
                                                 <br />
                                                 <br />

                                                 <h3 id="header_43" class="form-header" data-component="header">
                                                     Family History
                                                 </h3>

                                       <li class="form-line jf-required" data-type="control_matrix" id="id_114">
                                        <label class="form-label form-label-top form-label-auto" id="label_114" for="input_114">
                                            <p1>1- Cousin Marriage / Outsider</p1> <br />
                                        </label>
                                    <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                        <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                            2- Blood Group
                                        </label>
                                        <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                            @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                            @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                        </div>
                                    </li>
                                    <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                        <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                            3- General Health
                                        </label>
                                        <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                            @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                            @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                        </div>
                                    </li>
                                    <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_27">
                                        <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                            4- Any disability in family
                                        </label>
                                        <div id="cid_27" class="form-input-wide jf-required" data-layout="half">
                                            @Html.TextBoxFor(x => x.FamilyHistory.Father_Name, null, new { id = "input_27", name = "q27_typeA", @Class = "form-textbox validate[required, Alphabetic, minCharLimit]", maxLength = "30", placeholder = "", type = "text", size = "10" })
                                            @Html.ValidationMessageFor(x => x.FamilyHistory.Father_Name, null, new { style = "color:red" })
                                        </div>
                                    </li>

                                    <li id="cid_138" class="form-input-wide" data-type="control_head">
                                        <div class="form-header-group  header-default">
                                            <div class="header-text httac htvam">
                                                <h2 id="header_138" class="form-header" data-component="header">
                                                    Present Complain
                                                </h2>
                                                
                                            </div>

                                            <div id="cid_139" class="form-input-wide" data-layout="full">
                                                @Html.TextAreaFor(x => x.Conclusion.Conclusion_text, new { id = "input_139", @class = "form-textarea", name = "q139_input139", style = "width:630px;height:160px", datacomponent = "textarea", placeholder = "", required = "", arialabelledby = "label_139" })
                                                @Html.ValidationMessageFor(x => x.Conclusion.Conclusion_text, null, new { style = "color:red" })

                                            </div>
                                            <br />
                                            <br />

                                            <input id="next_btn1" name="next" onclick="next_step1()" type="button" value="Next" style="float: right; right: 0;">
                                           </fieldset>
                         

                            @*HISTORY*@
                            <fieldset id="second">
                                <ul class="form-section page-section">
                                    <li id="cid_43" class="form-input-wide" data-type="control_head">
                                        <div class="form-header-group  header-large">
                                            <div class="header-text httac htvam">
                                                <h1 id="header_43" class="form-header" data-component="header">
                                                    HISTORY OF PREGNANCY
                                                </h1>
                                            </div>
                                        </div>

                                        <div id="cid_114" class="form-input-wide jf-required" data-layout="full">
                                            <table summary="" aria-labelledby="label_114" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix">
                                                <tr class="form-matrix-tr form-matrix-header-tr"></tr>
                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_0">
                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                        <label id="label_114_row_0"> Length of pregnancy </label>
                                                    </th>
                                                    <td class="form-matrix-values">
                                                        @Html.TextBoxFor(x => x.PostNatal.Birth_Weight_Months, null, new { id = "input_114_0_0", name = "q114_postNatal[0][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit,requireOneAnswer]", maxLength = "10", type = "text", size = "10", })
                                                        @Html.ValidationMessageFor(x => x.PostNatal.Birth_Weight_Months, null, new { style = "color:red" })
                                                    </td>

                                                </tr>
                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_1">
                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                        <label id="label_114_row_1"> Premature/Normal/Post mature </label>
                                                    </th>
                                                    <td class="form-matrix-values">
                                                        @Html.TextBoxFor(x => x.PostNatal.Smiling_Months, null, new { id = "input_114_1_0", name = "q114_postNatal[1][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                        @Html.ValidationMessageFor(x => x.PostNatal.Smiling_Months, null, new { style = "color:red" })
                                                    </td>

                                                </tr>

                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_3">
                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                        <label id="label_114_row_3"> Detail of birth/After birth </label>
                                                    </th>
                                                    <td class="form-matrix-values">
                                                        @Html.TextBoxFor(x => x.PostNatal.Neck_Control_Months, null, new { id = "input_114_3_0", name = "q114_postNatal[3][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                        @Html.ValidationMessageFor(x => x.PostNatal.Neck_Control_Months, null, new { style = "color:red" })
                                                    </td>

                                                </tr>
                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_4">
                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                        <label id="label_114_row_4"> Child had any breathing problem during or after birth.</label>
                                                    </th>
                                                    <td class="form-matrix-values">
                                                        @Html.TextBoxFor(x => x.PostNatal.Teething_Months, null, new { id = "input_114_4_0", name = "q114_postNatal[4][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                        @Html.ValidationMessageFor(x => x.PostNatal.Teething_Months, null, new { style = "color:red" })
                                                    </td>

                                                </tr>
                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_5">
                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                        <label id="label_114_row_5"> Baby position</label>
                                                    </th>
                                                    <td class="form-matrix-values">
                                                        @Html.TextBoxFor(x => x.PostNatal.Sitting_alone_Months, null, new { id = "input_114_5_0", name = "q114_postNatal[5][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", placeholder = "Normal/Transvers lies/ Breech", type = "text", size = "10", })
                                                        @Html.ValidationMessageFor(x => x.PostNatal.Sitting_alone_Months, null, new { style = "color:red" })
                                                    </td>

                                                </tr>
                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_6">
                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                        <label id="label_114_row_6"> Pregnancy </label>
                                                    </th>
                                                    <td class="form-matrix-values">
                                                        @Html.TextBoxFor(x => x.PostNatal.Crawling_Months, null, new { id = "input_114_6_0", name = "q114_postNatal[6][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", placeholder = "Normal/Forceps/C Section", type = "text", size = "10", })
                                                        @Html.ValidationMessageFor(x => x.PostNatal.Crawling_Months, null, new { style = "color:red" })
                                                    </td>

                                                </tr>


                                            </table>


                                            @*//2nd table//*@
                                            <ul class="form-section page-section">
                                                <li id="cid_43" class="form-input-wide" data-type="control_head">
                                                    <div class="form-header-group  header-large">
                                                        <div class="header-text httac htvam">
                                                            <h1 id="header_43" class="form-header" data-component="header">
                                                                MEDICAL INFORMATION
                                                            </h1>
                                                        </div>
                                                        <br />

                                                        <div id="cid_114" class="form-input-wide jf-required" data-layout="full">
                                                            <table summary="" aria-labelledby="label_114" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix">
                                                                <tr class="form-matrix-tr form-matrix-header-tr"></tr>
                                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_0">
                                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                                        <label id="label_114_row_0">Name of Gp and pediatrician </label>
                                                                    </th>
                                                                    <td class="form-matrix-values">
                                                                        @Html.TextBoxFor(x => x.PostNatal.Birth_Weight_Months, null, new { id = "input_114_0_0", name = "q114_postNatal[0][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit,requireOneAnswer]", maxLength = "10", type = "text", size = "10", })
                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Birth_Weight_Months, null, new { style = "color:red" })
                                                                    </td>

                                                                </tr>
                                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_1">
                                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                                        <label id="label_114_row_1"> Medication </label>
                                                                    </th>
                                                                    <td class="form-matrix-values">
                                                                        @Html.TextBoxFor(x => x.PostNatal.Smiling_Months, null, new { id = "input_114_1_0", name = "q114_postNatal[1][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Smiling_Months, null, new { style = "color:red" })
                                                                    </td>

                                                                </tr>

                                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_3">
                                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                                        <label id="label_114_row_3"> Illness/Epilepsy</label>
                                                                    </th>
                                                                    <td class="form-matrix-values">
                                                                        @Html.TextBoxFor(x => x.PostNatal.Neck_Control_Months, null, new { id = "input_114_3_0", name = "q114_postNatal[3][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Neck_Control_Months, null, new { style = "color:red" })
                                                                    </td>

                                                                </tr>
                                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_4">
                                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                                        <label id="label_114_row_4"> Allergies</label>
                                                                    </th>
                                                                    <td class="form-matrix-values">
                                                                        @Html.TextBoxFor(x => x.PostNatal.Teething_Months, null, new { id = "input_114_4_0", name = "q114_postNatal[4][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Teething_Months, null, new { style = "color:red" })
                                                                    </td>

                                                                </tr>
                                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_5">
                                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                                        <label id="label_114_row_5">
                                                                            Child had any of the following tests? <br />
                                                                            (MRI,CAT,EEG,ECG,X-RAY)

                                                                        </label>
                                                                    </th>
                                                                    <td class="form-matrix-values">
                                                                        @Html.TextBoxFor(x => x.PostNatal.Sitting_alone_Months, null, new { id = "input_114_5_0", name = "q114_postNatal[5][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Sitting_alone_Months, null, new { style = "color:red" })
                                                                    </td>

                                                                </tr>
                                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_6">
                                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                                        <label id="label_114_row_6"> Surgical Intervention </label>
                                                                    </th>
                                                                    <td class="form-matrix-values">
                                                                        @Html.TextBoxFor(x => x.PostNatal.Crawling_Months, null, new { id = "input_114_6_0", name = "q114_postNatal[6][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Crawling_Months, null, new { style = "color:red" })
                                                                    </td>
                                                                </tr>
                                                            </table>



                                                            <ul class="form-section page-section">
                                                                <li id="cid_43" class="form-input-wide" data-type="control_head">
                                                                    <div class="form-header-group  header-large">
                                                                        <div class="header-text httac htvam">
                                                                            <h1 id="header_43" class="form-header" data-component="header">
                                                                                MILESTONE
                                                                            </h1>
                                                                        </div>
                                                                        <br />

                                                                        <div id="cid_114" class="form-input-wide jf-required" data-layout="full">
                                                                            <table summary="" aria-labelledby="label_114" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix">
                                                                                <tr class="form-matrix-tr form-matrix-header-tr"></tr>
                                                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_0">
                                                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                                                        <label id="label_114_row_0">Cry </label>
                                                                                    </th>
                                                                                    <td class="form-matrix-values">
                                                                                        @Html.TextBoxFor(x => x.PostNatal.Birth_Weight_Months, null, new { id = "input_114_0_0", name = "q114_postNatal[0][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit,requireOneAnswer]", maxLength = "10", type = "text", size = "10", })
                                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Birth_Weight_Months, null, new { style = "color:red" })
                                                                                    </td>

                                                                                </tr>
                                                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_1">
                                                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                                                        <label id="label_114_row_1"> Neck Control</label>
                                                                                    </th>
                                                                                    <td class="form-matrix-values">
                                                                                        @Html.TextBoxFor(x => x.PostNatal.Smiling_Months, null, new { id = "input_114_1_0", name = "q114_postNatal[1][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Smiling_Months, null, new { style = "color:red" })
                                                                                    </td>

                                                                                </tr>

                                                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_3">
                                                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                                                        <label id="label_114_row_3">Sitting</label>
                                                                                    </th>
                                                                                    <td class="form-matrix-values">
                                                                                        @Html.TextBoxFor(x => x.PostNatal.Neck_Control_Months, null, new { id = "input_114_3_0", name = "q114_postNatal[3][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Neck_Control_Months, null, new { style = "color:red" })
                                                                                    </td>

                                                                                </tr>
                                                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_4">
                                                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                                                        <label id="label_114_row_4">Crawling</label>
                                                                                    </th>
                                                                                    <td class="form-matrix-values">
                                                                                        @Html.TextBoxFor(x => x.PostNatal.Teething_Months, null, new { id = "input_114_4_0", name = "q114_postNatal[4][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Teething_Months, null, new { style = "color:red" })
                                                                                    </td>

                                                                                </tr>
                                                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_5">
                                                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                                                        <label id="label_114_row_5">
                                                                                            Standing

                                                                                        </label>
                                                                                    </th>
                                                                                    <td class="form-matrix-values">
                                                                                        @Html.TextBoxFor(x => x.PostNatal.Sitting_alone_Months, null, new { id = "input_114_5_0", name = "q114_postNatal[5][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Sitting_alone_Months, null, new { style = "color:red" })
                                                                                    </td>

                                                                                </tr>
                                                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_6">
                                                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                                                        <label id="label_114_row_6"> Walking</label>
                                                                                    </th>
                                                                                    <td class="form-matrix-values">
                                                                                        @Html.TextBoxFor(x => x.PostNatal.Crawling_Months, null, new { id = "input_114_6_0", name = "q114_postNatal[6][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Crawling_Months, null, new { style = "color:red" })
                                                                                    </td>

                                                                                </tr>
                                                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_6">
                                                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                                                        <label id="label_114_row_6"> Spoke First word</label>
                                                                                    </th>
                                                                                    <td class="form-matrix-values">
                                                                                        @Html.TextBoxFor(x => x.PostNatal.Crawling_Months, null, new { id = "input_114_6_0", name = "q114_postNatal[6][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Crawling_Months, null, new { style = "color:red" })
                                                                                    </td>

                                                                                </tr>
                                                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_6">
                                                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                                                        <label id="label_114_row_6"> Bowl bladder control</label>
                                                                                    </th>
                                                                                    <td class="form-matrix-values">
                                                                                        @Html.TextBoxFor(x => x.PostNatal.Crawling_Months, null, new { id = "input_114_6_0", name = "q114_postNatal[6][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Crawling_Months, null, new { style = "color:red" })
                                                                                    </td>

                                                                                </tr>

                                                                            </table>
                                                                        </div>

                                                                        <input id="pre_btn1" onclick="prev_step1()" type="button" value="Previous" class="prevbut">
                                                                        <input id="next_btn2" name="next" onclick="next_step2()" type="button" value="Next" style="float: right; right: 0;">


                            </fieldset>


                            @*HISTORY*@
                            <fieldset id="third">
                                <ul class="form-section page-section">
                                    <li id="cid_43" class="form-input-wide" data-type="control_head">
                                        <div class="form-header-group  header-large">
                                            <div class="header-text httac htvam">
                                                <h1 id="header_43" class="form-header" data-component="header">
                                                    Sensory Motor Function
                                                </h1>
                                            </div>


                                    <li class="form-line form-line-column form-col-3 jf-required" data-type="control_birthdate" id="id_39">
                                        <label class="form-label form-label-top" id="label_39" for="input_39">
                                            Tactile
                                        </label>
                                        <div id="cid_74" class="form-input-wide jf-required" data-layout="full">
                                            @Html.TextBoxFor(x => x.PostNatal.Crawling_Months, null, new { id = "input_114_6_0", name = "q114_postNatal[6][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                        </div>
                                        </label>
                                    <li class="form-line form-line-column form-col-3 jf-required" data-type="control_birthdate" id="id_39">
                                        <label class="form-label form-label-top" id="label_39" for="input_39">
                                            Auditory
                                        </label>
                                        <div id="cid_74" class="form-input-wide jf-required" data-layout="full">
                                            @Html.TextBoxFor(x => x.PostNatal.Crawling_Months, null, new { id = "input_114_6_0", name = "q114_postNatal[6][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                        </div>
                                    <li class="form-line form-line-column form-col-3 jf-required" data-type="control_birthdate" id="id_39">
                                        <label class="form-label form-label-top" id="label_39" for="input_39">
                                            Visual
                                        </label>
                                        <div id="cid_74" class="form-input-wide jf-required" data-layout="full">
                                            @Html.TextBoxFor(x => x.PostNatal.Crawling_Months, null, new { id = "input_114_6_0", name = "q114_postNatal[6][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                        </div>

                                    <li class="form-line form-line-column form-col-3 jf-required" data-type="control_birthdate" id="id_39">
                                        <label class="form-label form-label-top" id="label_39" for="input_39">
                                            Taste & Smell
                                        </label>
                                        <div id="cid_74" class="form-input-wide jf-required" data-layout="full">
                                            @Html.TextBoxFor(x => x.PostNatal.Crawling_Months, null, new { id = "input_114_6_0", name = "q114_postNatal[6][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                        </div>

                                    </li>
                                </ul>


                                <ul class="form-section page-section">
                                    <li id="cid_43" class="form-input-wide" data-type="control_head">
                                        <div class="form-header-group  header-large">
                                            <div class="header-text httac htvam">
                                                <h1 id="header_43" class="form-header" data-component="header">
                                                    Cognition
                                                </h1>

                                                <br />
                                                <label class="form-label form-label-top form-label-auto" id="label_27" for="input_27">
                                                    Response to external environment <br>
                                                    Perception(Size,Color,Shape)
                                                </label>

                                                <br />
                                                <br />

                                                <ul class="form-section page-section">
                                                    <li id="cid_43" class="form-input-wide" data-type="control_head">
                                                        <div class="form-header-group  header-large">
                                                            <div class="header-text httac htvam">
                                                                <h1 id="header_43" class="form-header" data-component="header">
                                                                    Physical Assessment
                                                                </h1>


                                                    <li class="form-line form-line-column form-col-3 jf-required" data-type="control_birthdate" id="id_39">
                                                        <label class="form-label form-label-top" id="label_39" for="input_39">
                                                            Contracture or Deformity
                                                        </label>
                                                        <div id="cid_74" class="form-input-wide jf-required" data-layout="full">
                                                            @Html.TextBoxFor(x => x.PostNatal.Crawling_Months, null, new { id = "input_114_6_0", name = "q114_postNatal[6][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                        </div>

                                                    <li class="form-line form-line-column form-col-3 jf-required" data-type="control_birthdate" id="id_39">
                                                        <label class="form-label form-label-top" id="label_39" for="input_39">
                                                            Muscle Tone
                                                        </label>
                                                        <div id="cid_74" class="form-input-wide jf-required" data-layout="full">
                                                            @Html.TextBoxFor(x => x.PostNatal.Crawling_Months, null, new { id = "input_114_6_0", name = "q114_postNatal[6][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                        </div>



                                                    <li class="form-line jf-required" data-type="control_matrix" id="id_114">
                                                        <label class="form-label form-label-top form-label-auto" id="label_114" for="input_114">
                                                            <u>Muscle Strength & Range of Motion</u>
                                                        </label>
                                                        <div id="cid_114" class="form-input-wide jf-required" data-layout="full">
                                                            <table summary="" aria-labelledby="label_114" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix">
                                                                <tr class="form-matrix-tr form-matrix-header-tr">
                                                                    <th class="form-matrix-th" style="border:none">

                                                                    </th>
                                                                    <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_0">
                                                                        <label id="label_114_col_0"> Strength</label>
                                                                    </th>
                                                                    <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1">
                                                                        <label id="label_114_col_1">ROM</label>
                                                                    </th>
                                                                </tr>
                                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_0">
                                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                                        <label id="label_114_row_0"> Upper Limbs</label>
                                                                    </th>
                                                                    <td class="form-matrix-values">
                                                                        @Html.TextBoxFor(x => x.PostNatal.Birth_Weight_Months, null, new { id = "input_114_0_0", name = "q114_postNatal[0][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit,requireOneAnswer]", maxLength = "10", type = "text", size = "10", })
                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Birth_Weight_Months, null, new { style = "color:red" })
                                                                    </td>
                                                                    <td class="form-matrix-values">
                                                                        @Html.TextBoxFor(x => x.PostNatal.Birth_Weight_Years, null, new { id = "input_114_0_1", name = "q114_postNatal[0][]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "4", type = "text", size = "10", })
                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Birth_Weight_Years, null, new { style = "color:red" })
                                                                    </td>
                                                                </tr>
                                                                <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_114 label_114_row_1">
                                                                    <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                                                        <label id="label_114_row_1">Lower Limbs </label>
                                                                    </th>
                                                                    <td class="form-matrix-values">
                                                                        @Html.TextBoxFor(x => x.PostNatal.Smiling_Months, null, new { id = "input_114_1_0", name = "q114_postNatal[1][]", @Class = "form-textbox validate[AlphaNumeric, minCharLimit]", maxLength = "10", type = "text", size = "10", })
                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Smiling_Months, null, new { style = "color:red" })
                                                                    </td>
                                                                    <td class="form-matrix-values">
                                                                        @Html.TextBoxFor(x => x.PostNatal.Smiling_Years, null, new { id = "input_114_1_1", name = "q114_postNatal[1][]", @Class = "form-textbox validate[Numeric, minCharLimit]", maxLength = "4", type = "text", size = "10", })
                                                                        @Html.ValidationMessageFor(x => x.PostNatal.Smiling_Years, null, new { style = "color:red" })
                                                                    </td>
                                                                </tr>
                                                            </table>

                                                    <li class="form-line jf-required" data-type="control_matrix" id="id_114">
                                                        <label class="form-label form-label-top form-label-auto" id="label_114" for="input_114">
                                                            <u>Sitting</u><br />
                                                            <p1> Floor Sitting </p1> <br />
                                                            <p2> Floor Sitting</p2> <br />
                                                            <p3> High Sitting</p3>
                                                        </label>

                                                    <li class="form-line jf-required" data-type="control_matrix" id="id_114">
                                                        <label class="form-label form-label-top form-label-auto" id="label_114" for="input_114">
                                                            <u>Posture</u><br />
                                                            <p1> Lordosis </p1> <br />
                                                            <p2> Kyphosis</p2> <br />
                                                            <p3> Scoliosis</p3>
                                                        </label>

                                                    <li class="form-line jf-required" data-type="control_matrix" id="id_114">
                                                        <label class="form-label form-label-top form-label-auto" id="label_114" for="input_114">
                                                            <u>Gate</u><br />
                                                            <p1> Broad </p1> <br />
                                                            <p2> Narrow</p2> <br />
                                                            <p3> Other</p3>
                                                        </label>
                                                    <li class="form-line jf-required" data-type="control_matrix" id="id_114">
                                                        <label class="form-label form-label-top form-label-auto" id="label_114" for="input_114">
                                                            <u>Mobility</u><br />
                                                            <p1> Wheel Chair </p1> <br />
                                                            <p2> Special Support</p2> <br />
                                                            <p3> Independent Walk</p3><br />
                                                            <p4> Other</p4>
                                                        </label>
                                            </div>

                                            <input id="pre_btn2" onclick="prev_step2()" type="button" value="Previous" class="prevbut">
                                            <input id="next_btn3" name="next" onclick="next_step3()" type="button" value="Next" style="float: right; right: 0;">
                            </fieldset>



                            @*HISTORY*@
                            <fieldset id="fourth">
                                <ul class="form-section page-section">
                                    <li id="cid_43" class="form-input-wide" data-type="control_head">
                                        <div class="form-header-group  header-large">
                                            <div class="header-text httac htvam">
                                                <h1 id="header_43" class="form-header" data-component="header">
                                                    TREATMENT PLAN
                                                </h1>
                                            </div>

                                    <li id="cid_138" class="form-input-wide" data-type="control_head">
                                        <div class="form-header-group  header-default">
                                            <div class="header-text httac htvam">
                                                <h2 id="header_138" class="form-header" data-component="header">
                                                    Long Term Goal
                                                </h2>
                                            </div>
                                        </div>
                                    </li>
                                    <div id="cid_139" class="form-input-wide" data-layout="full">
                                        @Html.TextAreaFor(x => x.Conclusion.Conclusion_text, new { id = "input_139", @class = "form-textarea", name = "q139_input139", style = "width:630px;height:160px", datacomponent = "textarea", placeholder = "", required = "", arialabelledby = "label_139" })
                                        @Html.ValidationMessageFor(x => x.Conclusion.Conclusion_text, null, new { style = "color:red" })
                                    </div>
                                    </li>

                                    <li id="cid_138" class="form-input-wide" data-type="control_head">
                                        <div class="form-header-group  header-default">
                                            <div class="header-text httac htvam">
                                                <h2 id="header_138" class="form-header" data-component="header">
                                                    Short Term Goal
                                                </h2>
                                            </div>
                                        </div>
                                    </li>
                                    <div id="cid_139" class="form-input-wide" data-layout="full">
                                        @Html.TextAreaFor(x => x.Conclusion.Conclusion_text, new { id = "input_139", @class = "form-textarea", name = "q139_input139", style = "width:630px;height:160px", datacomponent = "textarea", placeholder = "", required = "", arialabelledby = "label_139" })
                                        @Html.ValidationMessageFor(x => x.Conclusion.Conclusion_text, null, new { style = "color:red" })
                                    </div>
                                    </li>

                                    <li id="cid_138" class="form-input-wide" data-type="control_head">
                                        <div class="form-header-group  header-default">
                                            <div class="header-text httac htvam">
                                                <h2 id="header_138" class="form-header" data-component="header">
                                                    Recommendations
                                                </h2>
                                            </div>
                                        </div>
                                    </li>
                                    <div id="cid_139" class="form-input-wide" data-layout="full">
                                        @Html.TextAreaFor(x => x.Conclusion.Conclusion_text, new { id = "input_139", @class = "form-textarea", name = "q139_input139", style = "width:630px;height:160px", datacomponent = "textarea", placeholder = "", required = "", arialabelledby = "label_139" })
                                        @Html.ValidationMessageFor(x => x.Conclusion.Conclusion_text, null, new { style = "color:red" })
                                        
                                       
                                        </div>
                                    </ul>
                                



                                        <input id="pre_btn3" onclick="prev_step3()" type="button" value="Previous" class="prevbut">
                                        <input id="submit" @*onclick="btn_submitch()"*@ name="next" type="submit" value="Submit" style="float: right; right: 0;">

</fieldset>


                                    <script>

                                        function next_step1() {
                                            document.getElementById("first").style.display = "none";
                                            document.getElementById("second").style.display = "block";
                                            document.getElementById("active2").style.color = "red";
                                        }
                                        function next_step2() {
                                            document.getElementById("second").style.display = "none";
                                            document.getElementById("third").style.display = "block";
                                            document.getElementById("active3").style.color = "red";
                                        }
                                        function next_step3() {
                                            document.getElementById("third").style.display = "none";
                                            document.getElementById("fourth").style.display = "block";
                                            document.getElementById("active3").style.color = "red";
                                        }
                                        function next_step4() {
                                            document.getElementById("fourth").style.display = "none";
                                            document.getElementById("fifth").style.display = "block";
                                            document.getElementById("active3").style.color = "red";

                                        }
                                        // Previous Button Script
                                        function prev_step1() {
                                            document.getElementById("first").style.display = "block";
                                            document.getElementById("second").style.display = "none";
                                            document.getElementById("active1").style.color = "red";
                                            document.getElementById("active2").style.color = "gray";
                                        }
                                        function prev_step2() {
                                            document.getElementById("third").style.display = "none";
                                            document.getElementById("second").style.display = "block";
                                            document.getElementById("active2").style.color = "red";
                                            document.getElementById("active3").style.color = "gray";
                                        }
                                        function prev_step3() {
                                            document.getElementById("fourth").style.display = "none";
                                            document.getElementById("third").style.display = "block";
                                            document.getElementById("active2").style.color = "red";
                                            document.getElementById("active3").style.color = "gray";
                                        }
                                        function prev_step4() {
                                            document.getElementById("fifth").style.display = "none";
                                            document.getElementById("fourth").style.display = "block";
                                            document.getElementById("active2").style.color = "red";
                                            document.getElementById("active3").style.color = "gray";
                                        }


                                    </script>

