@model List<QRSCS.Models.NewAdmissionModel>
@{
    ViewBag.Title = "HIView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="db-breadcrumb">
        <h4 class="breadcrumb-title">Students</h4>
        <ul class="db-breadcrumb-list">
            <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
            <li>HI Disable Students</li>
        </ul>
    </div>

    <div class="row">
        <!-- Your Profile Views Chart -->
        <div class="col-lg-12 m-b30">
            <div class="widget-box">
                <div class="wc-title">
                    <h4>List Views Students</h4>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>GR NO.</th>
                                        <th>Student Name</th>
                                        @*<th>Student Last Name</th>*@
                                        <th>Father Name</th>
                                        <th>Gender</th>
                                        <th>Modify</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Gr_No</td>
                                            <td>@item.Student_First_Name @item.Student_Last_Name</td>
                                            @*<td>@item.Student_Last_Name</td>*@
                                            <td>@item.Father_Name</td>
                                            <td>@item.Gender</td>

                                            <td>
                                                @Html.ActionLink("Speech Case History Form", "SpeechCaseHistory", "Editor", new { GR_NO = @item.Gr_No }, new { @class = "btn " })
                                                @Html.ActionLink("Audiology Assessment", "AudiologyAssessment", "Editor", new { GR_NO = @item.Gr_No }, new { @class = "btn " })
                                                @Html.ActionLink("SpeechTherapyAssessment", "SpeechTherapyAssessment", "Editor", new { GR_NO = @item.Gr_No }, new { @class = "btn " })
                                            </td>
                                            @*<td>@Html.ActionLink("Update", "UpdateSection", "UpdateStudentView", new { GR_NO = @item.GR_NO}, new { @class = "btn " })</td>*@

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Your Profile Views Chart END-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ttr-overlay"></div>

<!-- Bootstrap core JavaScript-->
<script src="~/Content/assetstable/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/assetstable/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/Content/assetstable/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/Content/assetstable/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="~/Content/assetstable/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/assetstable/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/Content/assetstable/js/demo/datatables-demo.js"></script>


